body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.time {
    color: aqua;
    font-size: 5em;
}

.connections {
    color: orangered;
    font-size: 5em;
}